<app-search></app-search>
<div class="container">
  <h1>Pokedex</h1>
</div>

<div class="container">
  <div
    class="d-flex flex-wrap"
    style="
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <div *ngFor="let result of listPokemon.results">
      <div class="card-box">
        <img
          style="background-color: aqua; margin: 10px; height: 180px"
          src="../assets/pokemon_card_back.png"
          alt="pokemon card"
          class="pokemon-card"
        />
      </div>
    </div>
  </div>
</div>

<!-- test -->
