<div class="search-group">
  <div class="row">
    <div class="col">
      <select
        class="form-select"
        [(ngModel)]="pokemonNameInput"
        *ngIf="select"
        style="width: 200px"
      >
        <option
          *ngFor="let result of listPokemon.results"
          [value]="result.name"
        >
          {{ result.name }}
        </option>
      </select>
      <input
        class="form-control"
        type="text"
        [(ngModel)]="pokemonNameInput"
        *ngIf="type"
        style="width: 200px"
      />
    </div>
    <div class="col">
      <button
        [disabled]="pokemonNameInput == ''"
        class="btn btn-primary"
        (click)="searchPokemon()"
      >
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </div>

  <div class="col">
    <hr />
    <button class="btn btn-primary" (click)="onSwitchMode()" type="button">
      Switch to {{ searchMode ? "Type" : "Select" }} mode
    </button>
  </div>
</div>

<div class="backdrop" (click)="onCloseModal()" *ngIf="show">
  <div *ngIf="pokemonsShow">
    <div *ngFor="let pokemon of pokemons">
      <div class="pokemon-modal" [ngClass]="pokemonTypes()">
        <div class="container">
          <div class="row">
            <div class="col">
              <h2>
                {{ pokemon.name | uppercase }}
              </h2>
            </div>

            <div class="col">
              <h3>#{{ pokemon.id }}</h3>
              <span *ngFor="let type of pokemon.types"
                >-{{ type.type.name }}
              </span>
            </div>
          </div>

          <div class="row">
            <div [ngClass]="pokemonTypes()" class="img-background container">
              <img
                [src]="[pokemon.sprites.other.dream_world.front_default]"
                alt="pokemon picture"
                class="img-responsive"
              />
              <div [ngClass]="pokemonTypes()" class="pokemon-mass">
                <p>
                  height <span>{{ pokemon.height }}m </span>
                </p>
                <p>
                  weight <span>{{ pokemon.weight }}kg </span>
                </p>
              </div>

              <div [ngClass]="pokemonTypes()" class="pokemon-powers">
                <p>
                  {{ pokemon.stats[1].stat.name }}
                  <span>
                    {{ pokemon.stats[1].base_stat }}
                  </span>
                </p>

                <p>
                  {{ pokemon.stats[2].stat.name }}
                  <span>
                    {{ pokemon.stats[2].base_stat }}
                  </span>
                </p>

                <p>
                  {{ pokemon.stats[5].stat.name }}
                  <span>
                    {{ pokemon.stats[5].base_stat }}
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="pokemon-info" [ngClass]="pokemonTypes()">
            <div class="container">
              <div class="row pokemon-info-data" [ngClass]="pokemonTypes()">
                <div class="row">
                  <div class="col">
                    <h4>Abilities</h4>
                    <p>
                      <span *ngFor="let ability of pokemon.abilities">
                        {{ ability.ability.name }}
                      </span>
                    </p>
                  </div>

                  <div class="col">
                    <h4>
                      {{ pokemon.stats[3].stat.name }}
                    </h4>
                    <p>
                      <span>
                        {{ pokemon.stats[3].base_stat }}
                      </span>
                    </p>

                    <h4>
                      {{ pokemon.stats[4].stat.name }}
                    </h4>
                    <p>
                      <span>
                        {{ pokemon.stats[4].base_stat }}
                      </span>
                    </p>
                  </div>
                </div>
                <div class="row">
                  <h4>Moves</h4>
                  <p>
                    <!-- <span>
                      {{ pokemon.moves[0].move.name }}
                      {{ pokemon.moves[1].move.name }}
                    </span> -->
                    <span *ngFor="let move of pokemon.moves">
                      {{ move.move.name }}
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div *ngFor="let move of pokemon.moves">
              <p>move:</p>
              {{ move.name }}
            </div> -->
    </div>
  </div>
</div>

<!-- add -->

<!--
<hr />


<button (click)="onMoves()">moves:</button>
<div *ngIf="showMoves">
  <p>moves: {{ pokemon.moves[0].move.name }}</p>

  moves:
  <ul *ngFor="let move of pokemon.moves">
    <div *ngFor="let m of move[0]">move: {{ m.name }}</div>

    <li>
      {{ move.move.name }}
    </li>
  </ul>
</div>

<div>
abilities:
<ul *ngFor="let ability of pokemon.abilities">
<li>
  {{ ability.ability.name }}
  {{ pokemon.abilities[2].ability.name }}
</li>

{{ pokemon.abilities[2].ability.name }}
</ul>
</div>

 -->

<!--

<div *ngFor="let pokemon of pokemons">
        <ul *ngFor="let a of pokemon.abilities">
          <li>
            {{ pokemon.abilities[0].ability.name }}
          </li>

          <li>
            {{ pokemon.abilities[1].ability.name }}
          </li>
          <li>
            {{ pokemon.abilities[2].ability.name }}
          </li>
          <li>
            {{ pokemon.abilities[3].ability.name }}
          </li>
        </ul>
      </div>


 -->

<!--


  <div class="course-category" [ngSwitch]="pokemon.types">
          <p>type:</p>
          <div class="category" *ngSwitchCase="'water'">water</div>

          <div class="category" *ngSwitchCase="'fire'">fire</div>

          <div class="category" *ngSwitchCase="'flying'">flying</div>

          <div class="category" *ngSwitchDefault>All Levels</div>
        </div>
  -->

<!--

    <div>
          type:
          <ul *ngFor="let type of pokemon.types">
            <li>
              {{ type.type.name }}
            </li>
          </ul>
        </div>
   -->

<!-- switch case -->

<!--

<div class="test" style="height: 10vh">
            <p>type 2:</p>
            <ul *ngFor="let type of pokemon.types">
              <div class="course-category" [ngSwitch]="type.type.name">
                <div *ngSwitchCase="'water'">water type</div>

                <div *ngSwitchCase="'fire'">fire type</div>

                <div *ngSwitchCase="'flying'">flying type</div>

                <div *ngSwitchCase="'poison'">poison type</div>
                <div *ngSwitchCase="'grass'">grass type</div>

                <div class="category" *ngSwitchDefault>All types</div>
              </div>
            </ul>
          </div>


    -->

<!-- error -->

<!--

      <div *ngIf="errorMessageShow" class="modal-box">
    <p>
      {{ errorMessage }}
    </p>

    <p>"{{ pokemonNameInput | lowercase }}" is not a known pokemon</p>

    <div class="modal-actions">
      <button (click)="onCloseModal()" class="btn btn-danger">X</button>
    </div>
  </div>
     -->
